<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- so -->
	<title>{% if page.title %} {{ page.title }} | {% endif %} Tinderbox Alley - Theatre, Arts, International, Interdisciplinary, Consultants</title>
	<link type="text/css" rel="stylesheet" media="all" href="stylesheets/screen.css" />
	<meta property="og:title" content="Tinderbox Alley"/>
	<meta property="og:url" content="http://www.tinderbox-alley.com"/>
	<meta property="og:site_name" content="Tinderbox Alley"/>
	<meta property="og:description"
		  content="Tinderbox Alley are a company that manage arts projects."/>	
</head>
