<!DOCTYPE html>
<html>


{% include head.html %}


<body>
	<div class='bannerbox'>
		<img id='banner' src="images/signbanner.jpg"></img>
	</div>	
		
	   {% include menu.html %}


	<div class='content' id='{{page.title}}_content' >

		<span class='imagebox'>
			<img src="{{page.image}}" class='content_pic'></img>  
			<!--span id='credit'>{{page.credit}}</span-->
		</span>
	
		<span class="blurb" id='{{page.title}}_blurb' >
{{content}}
		</span>
	</div>

</body>

{% include footer.html %}

</html>
